<div class="credits">
    <p>
        All the images and stocks used in this project is royalty free and sourced from the below sources.
    </p>
    <p>
        <span><a href="https://www.bensound.com/">"Royalty Free Music from Bensound"</a></span>
    </p>
    <p>
        Image by <a
            href="https://pixabay.com/users/miroslavkaclik-11698513/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5255288">Miroslav
            Kaclík</a> from <a
            href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5255288">Pixabay</a>
    </p>
    <p>
        Image by <a
            href="https://pixabay.com/users/Valiphotos-1720744/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1072821">Valiphotos</a>
        from <a
            href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1072821">Pixabay</a>
    </p>
    <p>
        Image by <a
            href="https://pixabay.com/users/Larisa-K-1107275/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=220058">Larisa
            Koshkina</a> from <a
            href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=220058">Pixabay</a>
    </p>
    <p>
        Image by <a
            href="https://pixabay.com/photos/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=690293">Free-Photos</a>
        from <a
            href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=690293">Pixabay</a>
    </p>
</div>