.song-card {
    max-width: 400px;
    margin: 10px;
}

.example-header-image {
    background-image: url('/assets/song-image.jpg');
    background-size: cover;
}

.full-width-height {
    height: 93.35vh;
    width: 100vw;
}

.min-width-player {
    min-width: 20vw;
}